<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= button_to "ログイン", "/auth/auth0", method: :post, data: { turbo: false } %>
    <%= button_to "ログアウト", "auth/logout", method: :get, data: { turbo: false } %>
    <%= yield %>
  </body>
</html>
